@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .heading-l {
    font-family: Atkinson Hyperlegible;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .heading-m {
    font-family: Atkinson Hyperlegible;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .heading.s {
    font-family: Atkinson Hyperlegible;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
